@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.container {
  background-color: teal;
  border: 1px solid black;
  border-radius: 10px;
  width: 60vw;
  text-align: center;
  color: white;
  height: 50vh;
}

.container > header {
  padding: 1.5vw;
  font-family: 'Roboto Slab', serif;
  font-size: 2vw;
  letter-spacing: 2px;
}

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.desc {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.temp {
  flex: 1;
  font-size: 40px;
}

.wind {
  flex: 1;
}

.icon {
  font-size: 5vw;
}