@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


.brandText {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
}

.weather-container {
  border-radius: 10px;
  width: 100%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 12px;
}

.header {
  flex-basis: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.header > h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

.header > h4 {
  font-size: 20px;
}

.weather {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.desc {
  flex-basis: 33.33%;
  font-size: 16px;
  text-transform: capitalize;
}

.descText {
  display: block;
  margin-top: -22px;
}

.temp {
  flex-basis: 33.33%;
  font-size: 120px;
}

.wind {
  flex-basis: 33.33%
}

.icon {
  font-size: 70px;
}

@media screen and (max-width: 768px) {
  .desc {
    flex-basis: 50%
  }
  
  .temp {
    flex-basis: 50%;
    font-size: 66px;
  }

  .wind {
    flex-basis: 100%;
    margin-top: 20px;
  }

}