@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.brandText {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
}

.brandImg {
  width: 60px;
}

.weather-container {
  border-radius: 10px;
  width: 100%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 12px;
}

.header {
  flex-basis: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.header > span {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

.header > h4 {
  font-size: 20px;
}

.weather {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.desc {
  flex-basis: 33.33%;
  font-size: 16px;
  text-transform: capitalize;
}

.descText {
  display: block;
  margin-top: -18px;
}

.temp {
  flex-basis: 33.33%;
  font-size: 120px;
}

.detailsContainer {
  flex-basis: 33.33%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}

.detailsContainer > article {
  padding: 10px;
  flex-basis: 33.33%;
  text-align: center;
}

.detailsContainer > article > h4 {
  font-size: 20px;
  margin-bottom: 0;
}

.icon {
  font-size: 70px;
}

.locationIcon {
  font-size: 32px;
}

.loading {
  text-align: center;
  margin-top: 100px;
}

.errorContainer {
  color: white;
  text-align: center;
  font-family: monospace;
  margin-top: 50px;
}

.searchIcon {
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .desc {
    flex-basis: 50%
  }
  
  .temp {
    flex-basis: 50%;
    font-size: 85px;
  }

  .detailsContainer {
    flex-basis: 100%;
    margin-top: 20px;
  }

  .descText {
    min-width: fit-content;
    width: 66px;
    text-align: center;
  }

}

@media screen and (max-width: 320px) {
  .temp {
    font-size: 80px;
  }
}

@media screen and (min-width: 728px) {
  .descText {
    font-size: 30px;
  }

  .icon {
    font-size: 80px;
  }

  .temp {
    font-size: 130px;
  }

  .detailsContainer > article > h4 {
    font-size: 25px;
  }
}